@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.foguete {
    position: absolute;
    width: 50px;
    bottom: calc(20% - 30px);
}

.par-de-barreiras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: row;
    
}

.barreira .corpo {
    height: 110px;
    width: 40px;
    background:#639301;

}

.barreiraCentral{
    position: absolute;
    height: 80px;
    width: 150px;
    background:#639301;
    bottom: calc(20% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.combustivel{
    position: absolute;
    width: 40px;
    bottom: calc(20% - 30px);
}
.informacoes{ 
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 100px;
width: 600px;
}

.pontuacao, .energia{
    font-family: Pixel;
    font-size: 30px;
}
.pontuacao span{
    
    margin-left: 20px;
   
}