@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


[wm-flappy] {
    position: relative;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-image: url(../img/ceu-2.jpg );
    background-size: 100%;
    overflow: hidden;
}

.foguete {
    position: absolute;
    width: 50px;
    bottom: calc(20% - 30px);
}

.par-de-barreiras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: row;
    
}

.barreira .corpo {
    height: 110px;
    width: 40px;
    background:#040707dc;

}

.meteoro{
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(../img/meteoro.png);
    background-size: 100%;
    bottom: calc(20% - 30px);
}

.estrela{
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(../img/estrela.png);
    background-size: 100%;
    bottom: calc(20% - 30px);
}

.combustivel{
    position: absolute;
    width: 40px;
    bottom: calc(20% - 30px);
}
.informacoes{ 
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 100px;
width: 1200px;
font-size: 30px;
border: solid dodgerblue;
padding: 5px;
}

.tela{
    display: flex;
    position: relative ;
    height: 300px;
    width: 600px;
    background-color: #050505a0;
    margin: 90px auto;
    z-index: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    margin: 5px;
    padding: 5px;
    background-color: #639301;
    color: #fff;
    width: 100px;
}
#sair{
    background-color: #930101;
}


